// 居中模块
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 100%;
  // height: 100vh;
  .header-banner {
    width: 100%;
    height: 580px;
    .header-input {
      width: 100%;
      height: calc(580 - 400) + px;
      .input-btn {
        width: 60px;
        height: 50px;
      }
      // 深度选择器i,进行样式渗透
      :deep(.el-input__wrapper) {
        height: 50px;
      }
    }
  }

  .home-main {
    .main-top {
      width: 100%;
      height: 170px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #ebeef5;
      .top-level {
        width: 100%;
        display: flex;
        align-items: center;
        h4 {
          width: 5%;
          height: 50px;
          display: flex;
          align-items: center;
        }
        .level-tag {
          display: flex;
          align-items: center;
          width: 95%;
          height: 35px;
        }
      }
    }
    .main-bottom {
      width: 100%;
      margin-bottom: 80px;
      display: flex;
      flex-wrap: wrap;
      .page-helper{
        width: 90%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 20px;
      }
    }
  }
}
